/************
1. General
************/

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}

/************
2. Extra large devices (large desktops, 1200px and up)
************/
@media only screen and (max-width: 1200px) { 

}

/************
3. Large devices (desktops, 992px and up)
************/
@media only screen and (max-width: 992px) { 

}

/************
4. Medium devices (tablets, 768px and up)
************/
@media only screen and (max-width: 768px) { 

}

/************
5. Small devices (landscape phones, 576px and up)
************/
@media only screen and (max-width: 576px) {

}